/* Universal */
* {
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
header {
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    top: 0;
    margin: auto;
    z-index: 1;
}
.logo {
    height: 50px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
nav{
    position: relative;
    text-decoration: underline;
    height: 50px;
    float: right;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    padding: 10px 10px;
    margin-right: 10px;
}
.intro {
    padding-top: 70px;
    background-image: url(Images/missionbackground.webp);
    background-repeat: no-repeat;
    width: 1200px;
    height: 700px;
    position: relative;
    margin: auto;
}
.intro div {
    opacity: 1;
}
.teaOptions {
    display: flex;
    justify-content: space-around;
    width: 1000px;;
    flex-wrap: wrap;
    margin: auto;
}
.teaItem img {
    width: 300px;
    height: 200px;
}
.locationSection {
    background-image: url(Images/locationsbackground.webp);
    height: 500px;
    width: 1200px;
    margin: auto;
}
.location {
    display: inline-block;
}
footer {
    height: 200px;
    width: 100%;
}
.copyright {
    float: left;
}