/* Universal */
* {
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
h2 {
    font-size: 32px;
}
header {
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    top: 0;
    margin: auto;
    z-index: 1;
}
.logo {
    height: 50px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
nav{
    position: relative;
    text-decoration: underline;
    height: 50px;
    float: right;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    padding: 10px 10px;
    margin-right: 10px;
    font-size: 24px;
}
.intro {
    padding-top: 70px;
    background-image: url(Images/missionbackground.webp);
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 700px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    justify-content: center;
}
.intro div {
    opacity: 1;
    height: 100px;
    width: 1200px;
    margin: auto;
    flex-shrink: 1;
    padding-bottom: 30px;
    opacity: 1;
}
.teaOptions {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    flex-wrap: wrap;
    margin: auto;
    height: auto;
    width: auto;
    max-width: 1000px;
}
.teaItem img {
    width: 300px;
    height: 200px;
}
.locationSection {
    background-image: url(Images/locationsbackground.webp);
    display: relative;
    height: 600px;
    width: 1200px;
    background-color: transparent;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
}
.locationSection h2 {
    background-color: transparent;
    margin: auto;
    position: relative;
    top: 20%;
}
.location {
    display: inline-flex;
    padding: 0px;
    width: 300px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 15px 20px;
    opacity: 1;
    flex-shrink: 1;
    position: relative;
    top: 20%;
    flex-wrap: wrap;
}
.location h3 {
    position: relative;
    display: block;
    font-size: 26px;
}
.location p{
    display: block;
    padding-bottom: 15px;

}
footer {
    height: 200px;
    width: 100%;
}
.copyright {
    float: left;
}